html { font-size: 20px; line-height: 1.5; color: #111; background: #fdfdfd; }
html { font-family: 'Roboto', sans-serif; font-weight: 300; }
body { padding: 10%; }

a { color:#111; text-decoration: none; border-bottom: 1px solid #111; }
h2 { font-weight: normal; font-size: 1.4em; margin: 0 0 1.5em 0; }
h3 { font-weight: bold; font-size: 1em; margin: 2em 0 1em 0; }
hr { display: none; }

ul, ol { margin: 0 0 1em 0; padding: 0; max-width: 30em; text-align: justify; }
ul { list-style-type: circle; }
li { line-height: 1.5; margin: 0 0 1em 0; position: relative; }

p { margin: 0 0 1em 0; }
p strong { font-weight: 400; font-style: italic; }
p code { font-size: .8em; font-weight: 400; }
pre { font-size: .75em; overflow: auto; white-space: pre; margin: 2em 0; }
code {  font-weight: 400; }
blockquote { font-style: italic; margin: 1em; }

.wrap { max-width: 75em; }

.post { margin: 0 0 8em 0; }
.post p, .post ul, .post ol, .post h2, .post h3, .post h4 { max-width: 34em; }
.post ul, .post ol { margin: 2em 0; }
.post li { margin: .25em 0; }

.post img { width: auto; max-width: 100%; }
.post .img { margin: 3em 0; }

.post figure { margin: 3em 0; }
.post object { margin: 0 auto; }
.img a { display: block; border: none; }

.date { margin: 4em 0 10em 0; }
.top { border-top: 1px solid #332; margin: 0; }

.intro strong { display: block; }
.intro ul { /*margin: 0 0 3.5em 0;*/ margin: 0 0 2.5em 0; list-style-type: none; max-width: none; text-align: left; }
.intro .last { margin-bottom: 0; }
.intro li { line-height: 1.2; margin: 0 0 .5em 0; }
.intro strong { font-weight: 300; /*font-weight: 400;*/ } 
.intro strong { display: inline-block; width: 6em; /* padding:0 1em 0 0; */ padding:0 1em 0 0;  text-align: left;  /* alignment of list */}
.intro .more { margin: 0 0 0 .3em; }
.intro a.homelink {color:#111; text-decoration: none; border-bottom: none;}

@media (max-width: 55em) {		
  h2 { margin: 0 0 1em 0; }
  .intro ul { margin: 0 0 3em 0; }
  .intro .more { display: none; }
  .items strong { margin: .2em 0 0 0; display: block; text-align: left; width: auto; }
  .items li { margin: 0 0 1em 0; }
}

@media (max-width: 30em) {
  .not-min { display: none; }
  .post .img { margin: 1em 0; }
}

.wrap {
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fade 300ms;
  -moz-animation: fade 300ms;
  animation: fade 300ms;
}

@keyframes fade { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fade { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes fade { from { opacity:0; } to { opacity:1; } }


/* style soundcloud embeds */
.soundcloud iframe { 
max-width: 680px;
}

/* style vimeo/video embeds */
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width: 100%; 
    position:absolute;
}