<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}Irad Lee{% endif %}</title>
  <meta name="author" content="Irad Lee">
  <meta name="description" content="{% if page.title %}{{page.title}}{% else %}Irad Lee{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Y27GeHrf38siHP34-rMggBU3uf0p7ZUp0I6bQSg9mTE">
  <link rel="icon" type="image/png" href="/assets/icon.png">
  <script src="/js/jquery.js"></script>
  <script src="/js/retina.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="/assets/mfg/css/mfglabs_iconset.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700,400' rel='stylesheet' type='text/css'>
</head>
<body id="iradlee-com">
<div class="wrap">